<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.harfordfair.mobileapp"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Harford Fair 2016 Mobile App</name>

  <description>
      Harford Fair 2016 mobile phone application
  </description>

  <author href="https://build.phonegap.com" email="dl.oakley53@gmail.com">
      David Oakley
  </author>

   <preference name="permissions"                value="none"/>
  
</widget>